<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Motor Control</h1>

    <!-- Motor Step Control Form -->
    <h2>Control Motor Steps</h2>
    <form id="step-form">
        <label for="steps">Steps:</label>
        <input type="number" id="steps" name="steps" required>
        <label for="direction">Direction:</label>
        <select id="direction" name="direction" required>
            <option value="OPEN">Open</option>
            <option value="CLOSE">Close</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    <script>
        $(document).ready(function () {
            $("#toggle-button").click(function () {
                $.post("/toggle_motor", function (data) {
                    // Update the #motor-status element
                    $("#motor-status").text(data);
                });
            });

            // Handle the submission of the step form
            $("#step-form").submit(function (event) {
                event.preventDefault();
                var steps = $("#steps").val();
                var direction = $("#direction").val();
                $.ajax({
                    url: '/step',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ steps: parseInt(steps), direction: direction }),
                    success: function (response) {
                        console.log("Motor moved " + steps + " steps " + direction);
                    },
                    error: function (response) {
                        alert("Error: " + response.responseText);
                    }
                });
            });
        });
    </script>

</body>

</html>